# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
dist
/web/tmp
/api/tmp
/web/out-tsc
api//out-tsc
/web/bazel-out
/api/bazel-out

# Node
/web/node_modules
/api/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
web/.angular/cache
.sass-cache/
/web/connect.lock
/api/connect.lock
/web/coverage
/api/coverage
/web/libpeerconnection.log
/api/libpeerconnection.log
testem.log
/web/typings
/api/typings

# System files
.DS_Store
Thumbs.db
